{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block style %}
    <style>
        form
        {
            text-align: center;
            font-size: 50px;
        }
        
        @supports(-webkit-appearance: none) or (-moz-appearance: none) 
        {
            input[type='radio']
            {
                --border: #BBC1E1;
                -moz-appearance: none;
                height: 21px;
                width: 21px;
                display: inline-block;
                vertical-align: center;
                border: 1px solid var(--bc, var(--border));
                background: var(--b, var(--background));
                transition: background .3s, border-color .3s, box-shadow .2s;
            }
            
        }

        .divBtn
        {
            text-align: center;
            font-size: 50px;
            padding-right: 10px;
        }
    </style>
{% endblock %}

{% block main %}

    <form id=delForm class="form-inline" method="post">
        <label>Are you sure you want to delete your account?</label>
        <br>
        <br>
        <br>
        <br>
        
        <div class="form-check">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="radio" id="yes" value="yes" content="yes">

            <label class="form-check-label" for="yes">
                &nbsp;Yes :(
            </label>

        </div>
        <div class="form-check">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <input type="radio" name="radio" id="no" value="no" checked>

            <label for="no">
                &nbsp;No :)
            </label>
        
        </div>
    </form>

    <br>
    <br>
    <br>
    <br>

    <div class="divBtn">
        <button type="submit" name="deleteBtn" id="deleteBtn" onclick="submitForm()">Submit</button>
    </div>

{% endblock %}

{% block script %}
    <script>
        function submitForm()
        {
            document.getElementById("delForm").submit();
        }
    </script>
{% endblock %}