{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block style %}
    <!-- For computer -->
    <style>
        @media screen and (min-width: 1025px)
        {
            .text
            {
                font-size: 30px;
            }
            
            .text2
            {
                font-size: 40px;
            }

            #hero-text1
            {
                font-size: 100px; 
                color: black;
            }

            #hero-text2
            {
                font-size: 50px; 
                color: black;
            }

            .introduction
            {
                font-size: 25px;
            }
            
            #break
            {
                display: block;
            }

            .textAlign
            {
                text-align: center;
            }

            .profile
            {
                content:url("static/images/profile-pc-example.jpg")
            }

            .search
            {
                content:url("static/images/search-pc-example.jpg")
            }

            .jobs
            {
                content:url("static/images/jobs-pc-example.jpg")
            }
        }
        
    </style>
    <!-- For cellphone -->
    <style>
        @media screen and (max-width: 600px)
        {
            .text
            {
                font-size: 20px;
            }
            
            .text2
            {
                font-size: 30px;
            }

            #hero-text1
            {
                font-size: 80px; 
                color: black;
            }

            #hero-text2
            {
                font-size: 40px; 
                color: black;
            }

            #introduction
            {
                font-size: 20px;
                text-align: center;
            }

            #break
            {
                display: none;
            }

            .profile
            {
                content:url("static/images/profile-cell-example.jpg")
            }

            .search
            {
                content:url("static/images/search-cell-example.jpg")
            }

            .jobs
            {
                content:url("static/images/jobs-cell-example.jpg")
            }
        }
    </style>
{% endblock %}

{% block top %}
    <div class="hero-image-main-page">
        <div class="hero-text-main-page">
            <h1 id="hero-text1">Ink</h1>
            <p id="hero-text2">Welcome to Ink!</p>
        </div>
    </div>
{% endblock %}

{% block main %}
    <p class="introduction textAlign">Ink is a network website, where you can look for someone to hire or be hired!</p>

    <br>

    <p class="introduction textAlign">In Ink, you have 3 options on the navigation bar.</p>

    <hr style="background-color: black;">

    <p class="introduction textAlign">In <strong>profile</strong>, you can set your information. You can edit your photo and etc.</p>

    <div style="text-align: center;">
        <img class="profile" id="image" alt="Profile example">
    </div>

    <hr style="background-color: black;">

    <p class="introduction textAlign">In <strong>search</strong>, you can look profiles from other people.</p>

    <div style="text-align: center;">
        <img class="search" id="image" alt="Search example">
    </div>

    <hr style="background-color: black;">

    <p class="introduction textAlign">In <strong>jobs</strong>, you can look for jobs to apply sending a email, or post jobs for someone else to apply.</p>

    <div style="text-align: center;">
        <img class="jobs" id="image" alt="Jobs example">
    </div>

    <hr style="background-color: black;">

    <p class="introduction textAlign">Enjoy the website! :)</p>

{% endblock %}
