{% extends "layout.html" %}

{% block title %}
    Jobs
{% endblock %}

{% block style %}
    <style>
        .card
        {
            box-shadow: 0 4px 8px 0 #00000033;
            width: auto;
            max-width: 700px;
            height: auto;
            max-height: 470px;
            margin: auto;
            text-align: center;
            font-family: arial;
            padding: 2%;
        }

        @supports(-webkit-appearance: none) or (-moz-appearance: none) 
        {
            input[type='radio']
            {
                --border: #BBC1E1;
                -moz-appearance: none;
                height: 21px;
                width: 21px;
                display: inline-block;
                vertical-align: center;
                border: 1px solid var(--bc, var(--border));
                background: var(--b, var(--background));
                transition: background .3s, border-color .3s, box-shadow .2s;
            }
            
        }
        
        h1, h5, h6, p
        {
            text-align: left;
        }

        input[type=text], input[type=date]
        {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button 
        {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover
        {
            opacity: 0.8;
        }

        .cancelbtn 
        {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .postbtn
        {
            width: auto;
            padding: 10px 18px;
            background-color: #4CAF50;
            float: right;
        }

        .imgcontainer
        {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        img.avatar
        {
            width: 40%;
            border-radius: 50%;
        }

        .container 
        {
            padding: 16px;
        }

        .modal 
        {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content
        {
            background-color: #fefefe;
            margin: 5% auto 15% auto;
            border: 1px solid #888;
            width: 80%;
        }

        .close 
        {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover, .close:focus
        {
            color: red;
            cursor: pointer;
        }

        .animate
        {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s;
        }

        @-webkit-keyframes animatezoom 
        {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }

        @keyframes animatezoom 
        {
            from {transform: scale(0)} 
            to {transform: scale(1)}
        }

        @media screen and (max-width: 600px) 
        {
            .cancelbtn 
            {
                width: 100%;
            }

            .postbtn
            {
                width: 100%;
            }

            .title
            {
                font-size: 15px;
            }
        }


    </style>
{% endblock %}

{% block main %}
    <div>
        <button onclick="document.getElementById('postJob').style.display='block';" style="width:auto;">Post a Job</button>

        <button 
        onclick="document.getElementById('deleteJob').style.display='block';" 
        
        style="width:auto; padding: 14px 20px; float: right; background-color: #db4b4b;">My Posted Jobs</button>

        {% for i in range(jobsSearch|length) %}
            <div class="card">
                <h1 class="title">{{ jobsSearch[i].title }}</h1>

                <h5>&nbsp;&nbsp;&nbsp;{{ jobsSearch[i].need }}</h5>

                <br><br><br>

                <p>&nbsp;&nbsp;&nbsp;{{ jobsSearch[i].description }}</p>

                <br><br><br><br>

                <h6 style="position: relative; top: 26px;">{{ jobsSearch[i].day_posted }}</h6>

                <h6 style="text-align: right;">{{ jobsSearch[i].deadline }}</h6>

                <hr style="border-bottom: 1px solid black; margin-top: 0;">

                <h5 style="text-align: center; font-size: 18px; position: relative; bottom: 15px;">{{ jobsSearch[i].email }}</h5>
            </div>
            <br><br><br><br><br><br>
        {% endfor %}
        
        <div id="postJob" class="modal">
            <form class="modal-content animate" action="/jobs" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('postJob').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                    <!------------------------------------Title of the job------------------------------------> 
                    <label for="title"><b>Title of the job</b></label>

                    <input type="text" 
                    
                    placeholder="Enter the Title of the Job" 
                    name="title"
                    id="title"
                    required>

                    <br>

                    <!------------------------------------What the worker needs to know------------------------------------> 
                    <label for="need"><b>What the worker will need to know to do the job</b></label>

                    <input type="text" 

                    placeholder="CSS, HTML, Python, C, Django, Flask, etc..." 
                    name="need"
                    id="need"
                    required>

                    <br>

                    <!------------------------------------Description of the job------------------------------------> 
                    <label for="description"><b>Description of the job</b></label>

                    <input type="text" 
                    
                    placeholder="Describe what you want the worker to do and etc" 
                    name="description" 
                    id="description" 
                    required>

                    <br>

                    <!------------------------------------Deadline of the job------------------------------------> 
                    <label for="date"><b>Deadline of the job</b></label>
                    
                    <input type="text" 

                    name="date" 
                    id="date" 
                    placeholder="DD/MM/YYYY" 
                    
                    onkeyup="checkDate()"
                    required>

                    <div id="validDate" style="font-size: 16px; display: none;"></div>

                    <br>

                    <!------------------------------------Email for contact------------------------------------> 
                    <label for="email"><b>Email for contact</b></label>

                    <input type="text" 
                    
                    placeholder="Enter the email for contact" 
                    name="email" 
                    id="email" 
                    required>

                    <!------------------------------------End of inputs------------------------------------> 
                    
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('postJob').style.display='none'" class="cancelbtn">Cancel</button>

                    <button type="submit" class="postbtn" id="post">Post</button>
                </div>
            </form>
        </div>

        <div id="deleteJob" class="modal">
            <form class="modal-content animate" action="/jobs" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('deleteJob').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                    <button type="button"
                    onclick="document.getElementById('delete').style.display='block';" 
                    
                    style="width:140px; padding: 14px 20px; background-color: #db4b4b;">Delete a job</button>
                    
                    <!------------------------------------Jobs------------------------------------>
                    
                    {% for job in userJobs %}
                        <div class="card">

                            <h1 class="title">{{ job[0] }}<span style="float: right;"><h6 class="title">Job's Id: {{ jobsId[loop.index-1][0] }}</h6></span></h1>

                            <h5>&nbsp;&nbsp;&nbsp;{{ job[1] }}</h5>
                            <br><br><br>

                            <p>&nbsp;&nbsp;&nbsp;{{ job[2] }}</p>

                            <br><br><br><br>

                            <h6 style="position: relative; top: 26px;">{{ job[3] }}</h6>

                            <h6 style="text-align: right;">{{ job[4] }}</h6>

                            <hr style="border-bottom: 1px solid black; margin-top: 0;">

                            <h5 style="text-align: center; font-size: 18px; position: relative; bottom: 15px;">{{ job[5] }}</h5>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </form>
        </div>

        <div id="delete" class="modal">
            <form class="modal-content animate" action="/delete-jobs" method="post" style="max-width: 350px;">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('delete').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                    <h3 class="title">Are you sure you want to delete this job?</h3>
                    <br>
                    <div class="form-check">
                        <input type="radio" name="radio" id="yes" value="yes" content="yes" required>
                        <label class="form-check-label" for="yes" style="font-size: 20px;">
                            &nbsp;Yes :/
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="radio" id="no" value="no" content="no" required>
                        <label class="form-check-label" for="no" style="font-size: 20px;">
                            &nbsp;No :)
                        </label>
                    </div>

                    <br>

                    <h6 class="title" for="id">Digit the id of the job:</h6>
                    <h7>The job's id is located at the job card in "My Posted Jobs"</h7>
                    <br>
                    <input type="number"
                    
                    placeholder="Job's id"
                    name="id"
                    id="id"
                    required>

                    <br><br>

                    <h6 for="password">Type your password:</h6>

                    <input type="password" 
                    
                    placeholder="Password" 
                    name="password"
                    id="password"
                    required>

                    <button type="submit" name="deleteBtn" id="deleteBtn" onclick="submitForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var modal = document.getElementById('postJob');

        window.onclick = function(event) 
        {
            if (event.target == modal)
            {
                modal.style.display = "none";
            }
        }

        function InvalidMsg(textbox, item)
        {
            if (textbox.value === '')
            {
                textbox.setCustomValidity('Required ' + item);
            }
        }

        function isFutureDate(date)
        {
            var today = new Date().getTime(),
                date = date.split("/");

            date = new Date(date[2], date[1] - 1, date[0]).getTime();
            return (today - date) < 0 ? true : false;
        }

        function checkDate()
        {
            var date = document.getElementById("date"),
                result = document.getElementById("validDate"),
                dateReg = /(0[1-9]|[12][0-9]|3[01])[\/](0[1-9]|1[012])[\/]201[4-9]|20[2-9][0-9]/
                button = document.getElementById('post');
            
            if(dateReg.test(date.value))
            {
                if(isFutureDate(date.value))
                {
                    result.style.display = "block";
                    result.innerHTML = "Valid date! :)";
                    result.style.color = "green";
                    button.disabled = false;
                } 
                else 
                {
                    result.style.display = "block";
                    result.innerHTML = "Invalid date! :(";
                    result.style.color = "red";
                    button.disabled = true;
                }
            } 
            else 
            {
                result.style.display = "block";
                result.innerHTML = "Invalid date! :(";
                result.style.color = "red";
                button.disabled = true;
            }
        }

    </script>
{% endblock %}