{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block top %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size: 100px;">Ink</h1>
            <p style="font-size: 50px">Welcome to Ink!</p>
        </div>
    </div>
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <br>
    
    <h6>Doesn't have an account? <a href="/register">Sign up</a></h6>

{% endblock %}
