{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block top %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size: 100px;">Ink</h1>
            <p style="font-size: 50px">Welcome to Ink!</p>
        </div>
    </div>
{% endblock %}

{% block style %}
    <!-- Computer only -->
    <style>
        @media only screen and (min-width: 1025px)
        {
            #form
            {
                float: left;
            }

            #form2
            {
                float: right; 
                width: 40%;
            }

            #br
            {
                display: none;
            }

            body
            {
                overflow: hidden;
            }
        }
    </style>

    <!-- Cellphone only -->
    <style>
        @media screen and (max-width: 600px)
        {
            #form
            {
                float: none;
            }
            
            #br
            {
                display: block;
            }

            #button
            {
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block main %}

    {% if message != None %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endif %}

    <form action="/register" method="post">

        <div class="form-group">

            <div class="form-group" id="form">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
                </div>

                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password" required>
                </div>

                <div class="form-group">
                    <input class="form-control" name="confirmation" placeholder="Password (again)" type="password" required>
                </div>
            </div>

            <br id="br">

            <div class="form-group" id="form2">
                <div class="form-group">
                    <input class="form-control" name="name" placeholder="First, middle and/or last name" type="text" required>
                </div>

                <div class="form-group">
                    <input class="form-control" name="profession" placeholder="Profession" type="text" required>
                </div>

                <div class="form-group">
                    <input class="form-control" name="skills" placeholder="Skill 1, skill 2, skill 3..." type="text" required>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" name="email" placeholder="example@example.com" type="email" required>
            </div>

            <div id="button">
                <button class="btn btn-primary" type="submit">Register</button>
                <span>Already have an account? <a href="/login">Sign in</a></span>
            </div>
        </div>
    </form>
{% endblock %}
