{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block style %}
    <style>
        .row
        {
            display: flex;
        }

        .column
        {
            flex: 33.33%;
            padding: 5px;
        }

        .card
        {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title 
        {
            color: grey;
            font-size: 18px;
        }

        .btn
        {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .btn:hover
        {
            opacity: 0.7;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="form-inline">
        {% for i in range(usersSearch|length) %}
            <div class="card">
                <img src="static/pfp/{{ usersSearch[i].profilepic }}" alt="profile picture" style="width: 100%; height: 350px;">
                <h1>{{ usersSearch[i].name }}</h1>

                <p class="title">{{ usersSearch[i].profession }}</p>

                <div style="margin: 0 0 0 0;">
                    {% for skill in usersSearch[i].skills %}
                        <span>|&nbsp;{{ skill }}</span>
                        {% if loop.index == 3 %}
                            <span>|</span><br>
                        {% endif %}
                    {% endfor %}
                    <span>|</span>
                </div>

                <br>
                
                <p><button class="btn">{{ usersSearch[i].email }}</button></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
